@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в магазин «Я не помню этих болтов»!</h1>
    <p>Здесь вы можете просмотреть все важные и необходимые данные для сброки вашего ПК, а также проверить на 
        возможность совместной работы уже выбранных комплектующих, с помощью удобного конфигуратора.</p>
    <p>Для просмотра конкретных комплектующих вы можете перейти в соответствующий раздел, сверху в навигационном баре.</p>
</div>
