@model IEnumerable<CompsKitMarket.Models.Frame.FrameTable>
@{
    ViewData["Title"] = "Корпуса";
}
<div class="widget-title d-flex">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary ml-auto mb-3" asp-action="Create">Добавить</a>
        }
    }
</div>
@(
Html.Grid(Model)
    .Id("mvc-grid")
    .Build(columns =>
    {
        if (User.IsInRole("Admin"))
        {
            columns.Add(m => m.Id)
                .Titled("Id")
                .Sortable(true);
        }
        columns.Add(m => m.Name);
        columns.Add(m =>
        $"<div class='div-square'>" +
        $"    <div class='div-square-margin'></div>" +
        $"    <div class='div-square-content'>" +
        $"            <img class='card-img-top' src='{m.DataFormat}'>" +
        $"    </div>" +
        $"</div>"
        ).Encoded(false);
        columns.Add(m => m.ManufacturerName);
        columns.Add(m => m.MotherFormName);
        columns.Add(m => m.Description);
        columns.Add(m => m.Form);
        columns.Add(m => m.Color);
        columns.Add(m => m.Game ? "Да" : "Нет");
        columns.Add(m => m.VideoLenght);
        columns.Add(m => m.CoolHeight);
        columns.Add(m => m.ChargeLength);
        columns.Add(m => m.Fans);
        columns.Add(m => m.InsideHsdSize3);
        columns.Add(m => m.InsideHsdSize2);


        if (User.IsInRole("Admin"))
        {
            columns.Add(m =>
                 $"<a href='{Url.Action("Edit", new { id = m.Id })}' class='btn btn-xs btn-default' title='Изменить'>" +
                        "<i class='fa fa-edit'></i>" +
                    "</a>" +
                 $"<button type='button' class='btn btn-xs' onclick=CallRemove('{Url.Action("Delete", new { id = m.Id })}')>" +
                    "<i class='fa fa-trash'></i>" +
                 "</button>")
                .Encoded(false)
                .Css("w-100px col-btn-full");
        }
    })
    .Sortable()
    .Filterable()
    .Empty("Нет данных")
    .Css("table-bordered table-hover")
)
